# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

POSTGRES_URL="postgres://<user>:<password>@ep-young-poetry-<salt>-pooler.eu-central-1.aws.neon.tech:5432/verceldb?sslmode=require"
POSTGRES_PRISMA_URL="postgres://<user>:<password>@ep-young-poetry-<salt>-pooler.eu-central-1.aws.neon.tech:5432/verceldb?sslmode=require&pgbouncer=true&connect_timeout=15"
POSTGRES_URL_NO_SSL="postgres://<user>:<password>@ep-young-poetry-<salt>-pooler.eu-central-1.aws.neon.tech:5432/verceldb"
POSTGRES_URL_NON_POOLING="postgres://<user>:<password>@ep-young-poetry-<salt>.eu-central-1.aws.neon.tech:5432/verceldb?sslmode=require"
POSTGRES_USER="<user>"
POSTGRES_HOST="ep-young-poetry-<salt>-pooler.eu-central-1.aws.neon.tech"
POSTGRES_PASSWORD="<password>"
POSTGRES_DATABASE="verceldb"